.comment_disc_container{
    max-width: 600px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    /* max-height: 50px; */
    display: flex;
    flex-direction: column;
}




.comment_line_container{
    display: flex;
    /* width: 578px; */
    height: 44px;
    width: 100%;
    min-width: 640px;
    padding: 6px 16px;
    box-sizing: border-box;
    align-items: center;
    /* background: green; */
    margin-top: 4px;
    margin-bottom: 8px;
    justify-content: space-between;
    /* margin: 0px 0px 4px; */
}

.button_wrapper{
    display: flex;
    margin-right: 16px;
    margin: 0px 10px 0px 16px;
}

.edit_comment_container{
    /* background-color: antiquewhite; */
    margin-left: -16px;
}

.comment_input{
    background-color: #F0F2F5;
    border-radius: 20px;
    width: 97%;
    height: 36px;
    padding: 8px 12px;
    box-sizing: border-box;
    border: none;

}