.comment_disc_container{
    max-width: 600px;
    overflow-y: scroll;
    overflow-wrap: break-word;
    max-height: 50px;
}


.cancel_edit_button{
    /* background-color: red; */
    /* margin-left: 15px; */
}