.sidebar_container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.contact_info_link_div{
    display: flex;
    flex-direction: row;
    background-color: red;
}