.sidebar_container{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: red;
}

.contact_info_link{
    display: flex;
    flex-direction: row;
    background-color: red;
}